* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.main {
    padding-top: 150px !important;
}

.main-section {
    font-size: 36px;
    text-align: center;
    margin-bottom: 3%;
}

.start-section {
    text-align: center;
    width: 60%;
    border: 2px solid green;
    border-radius: 20px;
    padding: 2%;
}

.start-section--wrapper {
    display: flex;
    justify-content: center;
}

.instruction-section {
    text-align: left;
    padding-left: 10%;
    margin-bottom: 5%;
}

.qna-section {
    width: 60%;
    border: 2px solid green;
    border-radius: 20px;
    padding: 2%;
}

.qna-section__wrapper {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.question-area {
    padding: 1%;
}

.answers-area {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.control-area {
    display: grid;
    justify-content: center;
    margin-top: 5%;
}

.immediate-res-area {
    text-align: center;
}

.result-section {
    width: 60%;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    padding: 2%;
}

.result-section__wrapper {
    display: flex;
    justify-content: center;
}

.results-wrapper {
    margin: 3%;
}

.stat-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    border: 2px solid green;
    border-radius: 20px;
    padding: 2%;
}

.stat-section__wrapper {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.grid-container {
    justify-content: center;
    text-align: center;
}

.row-container {
    text-align: center;
    display: inline-grid;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button1:disabled {
    background-color: gray;
}

.button2 {
    background-color: black;
    border: 2px solid #008CBA;
}

.button2:disabled {
    background-color: gray;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}



